body{
    margin: 0;
}

header {
    background-color: #d5e1df;
    height: 50px;
}

.menu_superior {
    padding-left: 0;
}

.menu_superior li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    height: 100%;
    margin-top: 15px;
    padding-left: 15px;
    font-weight: 600;
    color: dimgrey;
}

.option_activa {
    color: fuchsia;
}

.contenido {
    margin-left: 10px;
    margin-top: 10px;
    height: calc(100% - 70px);
    width: calc(100% - 15px);
    background-color: #f0f0f0;
}